body {
    background-color: rgb(255, 232, 211);
}

.flex-height {
    position: relative;
    display: flex;
    align-items: center;
}

.flex-width {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-width-end {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.default-text-color {
    color: darkslateblue;
}

.absolute-width {
    position:absolute;
    left:0%;
    right: 0%;
}

.panel-top {
    background-color: lightgoldenrodyellow; box-shadow: 0px 1px 10px darkslateblue;
}

.panel-bottom {
    background-color: lightgoldenrodyellow; box-shadow: 0px -1px 10px darkslateblue;
}

.social-container {
    align-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: darkslateblue;
}
.social-icon:hover {
    fill: gray;
}