:root {
    --bg-colour: #FFE8D3;
    --bg-item-colour: peachpuff;
    --bg-item-dark-colour: #BBB2A5;
    --accent-colour: darkslateblue;
    --highlight-colour: white;
    --panel-bg-colour: lightgoldenrodyellow;
    --panel-highlight-colour: gray;
}

body {
    background-color: var(--bg-colour);
}

ol li {
    list-style-type: none;
}

li, .block-item {
    padding: 2px 10px;
    margin-bottom: 2px;
    background-color: var(--bg-item-colour);
    box-shadow: 2px 2px 2px var(--accent-colour);
    z-index: 3;
}
.block-item:hover {
    outline: thin solid var(--highlight-colour);
    box-shadow: 1px 1px 2px var(--accent-colour);
}

a, a:hover, a:visited {
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    -webkit-tap-highlight-color: var(--highlight-colour);
    color: var(--accent-colour);
}

.block-stack {
    margin-top: 250px;
    z-index: 3;
}

.groundTile {
    background-color: #e0cdbd;
    height: 300px;
    z-index: 1;
}
.shadowTile {
    position: absolute;
    background-color: #c9b3ad;
    margin-left: 46%;
    width: 140px;
    padding-bottom: 10px;
    transform:translateY(-300px);
    border-radius: 400px;
    z-index: 2;
}

.shadowHint {
    position: absolute;
    color: #a5918a;
    transform:translate(1%, -200px);
    z-index: 2;
}
.shadowHint2 {
    float: right;
    transform:translateY(-160px);
    z-index: 2;
}

.flex-height {
    position: relative;
    display: flex;
    align-items: center;
}

.flex-height-end {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 700px;
}

.flex-width {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-width-end {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.default-text-color {
    color: var(--accent-colour);
    user-select:none;
}

.fixed-width {
    position:fixed;
    left:0%;
    right: 0%;
}

.panel-top {
    background-color: var(--panel-bg-colour); box-shadow: 0px 1px 10px var(--accent-colour);
}

.panel-bottom {
    background-color: var(--panel-bg-colour); box-shadow: 0px -1px 10px var(--accent-colour);
}

.social-container {
    align-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: var(--accent-colour);
}
.social-icon:hover {
    fill: var(--panel-highlight-colour);
}

.message-sender-box {
    background-color: var(--bg-item-colour);
    min-width: 50%;

    border-radius: 500px;
    border-color: var(--accent-colour);
    border-style: solid;
    border-width: thin;

    box-shadow: 0px 0px 3px var(--accent-colour);
}
.message-sender-box:hover {
    border-color: var(--highlight-colour);
    box-shadow: 0px 0px 5px var(--accent-colour);
}

#messagesender:hover {
    color: var(--panel-highlight-colour);
}
#messagesender, #messagesender:focus {
    max-height: 60px;
    min-width: 100%;
    color: var(--accent-colour);
    z-index: 7;
    padding-top: 3%;
    padding-bottom: 3%;
}

#messagesenderprompt {
    position:fixed;
    top: 90.25%;
    color: var(--bg-item-dark-colour);
    user-select:none;
    z-index: 6;
}

.message-sender-box-item {
    margin-left: 1%;
    margin-right: 1%;
}
.message-sender-box-icon {
    width: 30px;
    height: 22px;
    fill: var(--accent-colour);
}

.message-sender-box-icon:hover {
    fill: var(--panel-highlight-colour);
}

.render-infront {
    z-index: 5;
}

#blockstackcounter {
    visibility: hidden;
}