body {
    background-color: #FFE8D3;
}

ol li {
    list-style-type: none;
}

li, .block-item {
    padding: 2px 10px;
    margin-bottom: 2px;
    background-color: #ffe1c6;
    box-shadow: 2px 2px 2px darkslateblue;
    z-index: 3;
}
.block-item:hover {
    outline: thin solid white;
    box-shadow: 1px 1px 2px darkslateblue;
}

a, a:hover, a:visited {
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    -webkit-tap-highlight-color: white;
    color: darkslateblue;
}

.block-stack {
    margin-top: 250px;
    z-index: 3;
}

.groundTile {
    background-color: #e0cdbd;
    height: 300px;
    z-index: 1;
}
.shadowTile {
    position: absolute;
    background-color: #c9b3ad;
    margin-left: 46%;
    width: 140px;
    padding-bottom: 10px;
    transform:translateY(-300px);
    border-radius: 400px;
    z-index: 2;
}

.shadowTitle {
    position: absolute;
    color: #c9b3ad;
    padding-bottom: 10px;
    transform:translate(1%, -200px);
    border-radius: 400px;
    z-index: 2;
}

.flex-height {
    position: relative;
    display: flex;
    align-items: center;
}

.flex-height-end {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 700px;
}

.flex-width {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-width-end {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.default-text-color {
    color: darkslateblue;
    user-select:none;
}

.fixed-width {
    position:fixed;
    left:0%;
    right: 0%;
}

.panel-top {
    background-color: lightgoldenrodyellow; box-shadow: 0px 1px 10px darkslateblue;
}

.panel-bottom {
    background-color: lightgoldenrodyellow; box-shadow: 0px -1px 10px darkslateblue;
}

.social-container {
    align-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: darkslateblue;
}
.social-icon:hover {
    fill: gray;
}

.message-sender-box {
    background-color: peachpuff;
    min-width: 50%;

    border-radius: 500px;
    border-color: #FAEBD2;
    border-style: solid;
    border-width: thin;

    box-shadow: 0px 0px 5px darkslateblue;
}
.message-sender-box:hover {
    border-color: white;
    box-shadow: 0px 0px 4px darkslateblue;
}

#messagesender:hover {
    color: black;
}
#messagesender, #messagesender:focus {
    max-height: 60px;
    min-width: 100%;
    color: darkslateblue;
    z-index: 7;
    padding-top: 3%;
    padding-bottom: 3%;
}

#messagesenderprompt {
    position:fixed;
    top: 90.25%;
    color:#BBB2A5;
    user-select:none;
    z-index: 6;
}

.message-sender-box-item {
    margin-left: 1%;
    margin-right: 1%;
}
.message-sender-box-icon {
    width: 30px;
    height: 22px;
    fill: darkslateblue;
}

.message-sender-box-icon:hover {
    fill: gray;
}

.render-infront {
    z-index: 5;
}